@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  line-height: 1.2;
}

body {
  font-size: 2rem;
  color: #6b708d;
  background-color: #f4f6fc;
}

/*HEADINGS*/
h1 {
  font-size: 6rem;
  font-weight: 700;
  color: #292e47;
}

h3 {
  font-size: 4rem;
  font-weight: 700;
  color: #292e47;
}

h4 {
  font-size: 2.4rem;
  font-weight: 500;
  color: #292e47;
}

/*CONTAINERS*/
.container-default {
  max-width: 110rem;
  margin: 0 auto;
}

.container-large {
  max-width: 132rem;
  margin: 0 auto;
}

/*MARGINS*/
.margin-xsmall-top {
  margin-top: 2rem;
}

.margin-small-top {
  margin-top: 4rem;
}

.margin-medium-top {
  margin-top: 10rem;
}

.margin-large-top {
  margin-top: 20rem;
}

/*POSITION*/
.flex {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

/* .active {
  color: #0082f3 !important;
} */

/*LINKS*/
a {
  text-decoration: none;
  font-size: 1.7rem;
}

/*TEXT*/
p {
  font-size: 2rem;
  margin-top: 2rem;
}

.text-center {
  text-align: center;
}

.text-lead-medium {
  font-size: 2.4rem;
  font-weight: 500;
}
.text-small {
  font-size: 1.7rem;
}

.text-xsmall {
  font-size: 1.3rem;
}

.text-secondary {
  color: #ffc600;
}

.text-tertiary {
  color: #a2d6f9;
}

.inverse {
  color: white;
}

/*BUTTONS*/
.button-primary {
  color: white !important;
  font-weight: 500;
  padding: 1.5rem 3.5rem;
  background-color: #072ac8;
}

/*CARDS*/
.card {
  width: 34rem;
  background-color: white;
  box-shadow: 0 3.8rem 7.7rem rgba(0, 0, 0, 0.1);
}

.card a {
  font-weight: 500;
  color: #072ac8;
}

.card-body {
  margin-bottom: 4rem;
}

.card .card-content {
  flex-direction: column;
  justify-content: space-between;
  height: 31rem;
  padding: 3rem;
}

.card-project img {
  width: 100%;
  object-fit: cover;
  height: 24rem;
}

#cardsProjects {
  justify-content: space-between;
  gap: 4rem;
}

.card-service {
  padding: 3rem;
  color: #292e47;
}

.card-service img {
  padding: 2rem;
}

.circle-icon {
  border-radius: 50%;
  overflow: hidden;
  background-color: #ecf7ff;
  max-width: max-content;
}

/*TOP MENU*/
.nav-bar {
  align-items: center;
  justify-content: space-between;
  margin-top: 7rem;
}

.nav-bar li {
  list-style-type: none;
  margin: 0 3rem;
}

.nav-bar ul a {
  color: #6b708d;
  font-weight: 500;
}

.nav-bar ul a:hover {
  color: #072ac8;
}

/*HERO*/
#hero {
  align-items: center;
}
#hero > div {
  width: calc(50% - 4rem);
}
#hero > div:first-child {
  margin-right: 8rem;
}
#hero a {
  color: #6b708d;
}

.buttons-hero {
  gap: 4rem;
  align-items: baseline;
}

.hero-right {
  position: relative;
}

.hero-right img:first-child,
.hero-right img:last-child {
  width: 55%;
  max-width: 37rem;
  position: absolute;
}

.hero-right img:first-child {
  top: 0;
  left: -20%;
}

.hero-right img:last-child {
  bottom: -22%;
  right: -10%;
}

@media (min-width: 1200px) {
  .hero-right img:last-child {
    right: -25%;
  }
}

/*CLIENTS*/
#clients {
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
}

/*TESTIMONIALS*/
#testimonials {
  background-color: #292e47;
  background-image: url("https://drive.google.com/uc?export=view&id=17TYY3EM05ErroQlMmHyxPO_6gTDtkK34");
  background-size: contain;
  padding: 15rem 10rem;
}

#testimonials > div.container-default {
  position: relative;
}

.emoji {
  position: absolute;
  width: 15rem;
}

.top-left {
  top: -10%;
  left: -5%;
}

.top-right {
  top: -10%;
  right: -5%;
}

.bottom-left {
  bottom: -10%;
  left: -5%;
}

.bottom-right {
  bottom: -10%;
  right: -5%;
}

.testimonial-profile {
  justify-content: center;
  align-items: center;
}

.testimonial-profile p {
  margin-top: 0.5rem;
}

.testimonial-profile > img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

/*SERVICES*/
#services div.flex {
  justify-content: space-between;
  gap: 4rem;
}

/*NEWSLETTER*/
#ctaContact {
  background-color: #ffc600;
  padding: 15rem 10rem;
}
