@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

body {
  font-size: 2rem;
  color: #6b708d;
  background-color: #f4f6fc;
}

/*HEADINGS*/
h1 {
  font-size: 6rem;
  line-height: 1.5;
  font-weight: 700;
  color: #292e47;
}

h3 {
  font-size: 4rem;
  line-height: 1.5;
  font-weight: 700;
  color: #292e47;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: 500;
  color: #292e47;
}

/*CONTAINERS*/
.container-default {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.container-large {
  max-width: 132rem;
  margin: 0 auto;
}

/*MARGINS*/
.margin-xsmall-top {
  margin-top: 2rem;
}

.margin-small-top {
  margin-top: 2rem;
}

.margin-medium-top {
  margin-top: 4rem;
}

.margin-large-top {
  margin-top: 7rem;
}

/*POSITION*/
.flex {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

/* .active {
  color: #0082f3 !important;
} */

/*LINKS*/
a {
  text-decoration: none;
  font-size: 1.7rem;
}

/*TEXT*/
p {
  font-size: 2rem;
  margin-top: 2rem;
  line-height: 1.5;
}

.text-center {
  text-align: center;
}

.text-lead-medium {
  font-size: 2.4rem;
  font-weight: 500;
}

.text-lead-regular {
  color: #292e47;
}

.text-small {
  font-size: 1.7rem;
}

.text-xsmall {
  font-size: 1.3rem;
}

.text-secondary {
  color: #ffc600;
}

.text-tertiary {
  color: #a2d6f9;
}

.text-meta {
  font-size: 2rem;
  color: #6b708d;
}

.inverse {
  color: white;
}

/*BUTTONS*/
.button-primary {
  color: white !important;
  font-weight: 500;
  padding: 1.5rem 3.5rem;
  background-color: #072ac8;
}

.button-primary:hover {
  background-color: #292e47;
}

/*CARDS*/
.card {
  width: 100%;
  background-color: white;
  box-shadow: 0 3.8rem 7.7rem rgba(0, 0, 0, 0.1);
}

.card a {
  font-weight: 500;
  color: #072ac8;
}

.card-body {
  margin-bottom: 4rem;
}

.card .card-content {
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  padding: 3rem;
}

.card-project img {
  width: 100%;
  object-fit: cover;
  height: 35rem;
}

#cardsProjectsRecent,
#cardsProjectsOther {
  justify-content: space-between;
  gap: 3.8rem;
}

.card-service {
  padding: 3rem;
  color: #292e47;
}

.card-service img {
  padding: 2rem;
}

.circle-icon {
  border-radius: 50%;
  overflow: hidden;
  background-color: #ecf7ff;
  max-width: max-content;
}

/*TOP MENU*/
.nav-bar {
  align-items: center;
  justify-content: space-between;
  background-color: #f4f6fc;
  position: relative;
  z-index: 10;
}

.nav-bar li {
  list-style-type: none;
  margin: 0 3rem;
}

.nav-bar ul a {
  color: #6b708d;
  font-weight: 500;
}

.nav-bar ul a:hover {
  color: #072ac8;
}

.nav-bar div.desktop,
.nav-bar a.button-primary.desktop {
  display: none;
}

.button-burger {
  padding: 1.8rem;
  z-index: 10;
}

.button-burger svg {
  width: 2rem;
  height: 2rem;
}

.button-burger[active] {
  background-color: #c8c8c8;
  z-index: 10;
}

.button-burger[active] svg {
  fill: #f4f6fc;
}

.menu-mobile {
  background-color: #c8c8c8;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  position: absolute;
  /* top: 2rem; */
  z-index: 2;
  transform: translate(0, -23rem);
  transition: transform ease-in-out 0.5s;
}

.menu-mobile[active] {
  transform: translate(0, 0);
}

.menu-mobile .menu-items {
  flex-direction: column;
}

.menu-mobile li {
  margin: 1rem 0;
}

.menu-mobile .button-primary {
  margin-left: 4rem;
  margin-top: 1rem;
}

/*HERO*/
#hero {
  align-items: center;
  text-align: center;
}

#hero > div {
  width: 100%;
}

#hero a {
  color: #6b708d;
}

.buttons-hero {
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.hero-right img:first-child,
.hero-right img:last-child {
  display: none;
}

.hero-right img:first-child {
  top: 0;
  left: -20%;
}

.hero-right img:last-child {
  bottom: -22%;
  right: -10%;
}

.main-img {
  max-width: 100%;
  margin-top: 2rem;
}

/*CLIENTS*/
#clients {
  align-items: center;
  justify-content: space-evenly;
  gap: 10rem;
}

#clients img:last-child {
  display: none;
}

/*TESTIMONIALS*/
#testimonials {
  background-color: #292e47;
  background-image: url("https://drive.google.com/uc?export=view&id=17TYY3EM05ErroQlMmHyxPO_6gTDtkK34");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 15rem 10rem;
}

#testimonials > div.container-default {
  position: relative;
}

.emoji {
  display: none;
}

.top-left {
  top: -10%;
  left: -5%;
}

.top-right {
  top: -10%;
  right: -5%;
}

.bottom-left {
  bottom: -10%;
  left: -5%;
}

.bottom-right {
  bottom: -10%;
  right: -5%;
}

.testimonial-profile {
  justify-content: center;
  align-items: center;
}

.testimonial-profile p {
  margin-top: 0.5rem;
}

.testimonial-profile > img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

/*SERVICES*/
#services div.flex {
  justify-content: space-between;
  gap: 3.8rem;
}

/*NEWSLETTER*/
#ctaContact {
  background-color: #ffc600;
  padding: 15rem 10rem;
}

/*FOOTER*/
.menu-footer {
  list-style-type: none;
  padding-inline-start: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  text-align: left;
}

.menu-footer a {
  color: #072ac8;
}

footer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 5rem;
}

footer img {
  width: 10rem;
}

/*FORMS*/
#newsletter {
  align-items: center;
  justify-content: center;
}

#newsletter input#email {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f6fc;
  padding-left: 7rem;
  background-image: url("https://drive.google.com/uc?export=view&id=18Ys329Csn8jRw1sStIVEEa5GRhdzczuY");
  background-repeat: no-repeat;
  background-position: 5% 40%;
  background-size: 3rem;
  min-width: 100%;
}

input,
textarea {
  font-size: 1.7rem;
  border: none;
  background-color: transparent;
  padding: 1.5rem 2rem;
}

#contactPage .input-container,
#contactPage .input-container-medium {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

#contactPage input,
#contactPage textarea {
  width: 100%;
  margin-top: 1rem;
}

#contactPage input:not([type="submit"]),
textarea {
  background-color: rgba(107, 112, 141, 0.1);
}

input:focus-visible,
textarea:focus-visible {
  outline: 1px solid #3898ec;
}

label {
  font-size: 2rem;
}

input[type="submit"] {
  border: none;
  cursor: pointer;
  margin-top: 2rem;
}

#formMessageOk,
#formMessageKo {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 2rem;
}

#formMessageOk {
  background-color: rgb(187, 246, 187);
}

#formMessageKo {
  background-color: rgb(255, 142, 142);
}

/*PROJECT PAGE*/
#projectBody h4 {
  color: #6b708d;
}

.header-post {
  justify-content: space-between;
}

.header-post div:first-child {
  margin-right: 5rem;
}

.img-project {
  height: auto;
  overflow: hidden;
}

.img-project img {
  max-width: 100%;
}

.date-completed {
  align-self: flex-end;
}

/*RESPONSIVE*/
@media (min-width: 980px) {
  .menu-mobile {
    display: none;
  }

  .nav-bar div.desktop,
  .nav-bar a.button-primary.desktop {
    display: block;
  }

  .nav-bar {
    margin-top: 6rem;
  }

  .nav-bar a.button-burger {
    display: none;
  }

  #contactPage .input-container-medium {
    width: calc(50% - 2rem);
  }

  #contactPage {
    justify-content: space-between;
    gap: 1rem;
  }

  .header-post div:first-child {
    max-width: 60%;
  }

  .img-project {
    height: 45rem;
  }

  .margin-small-top {
    margin-top: 4rem;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  footer div {
    margin-bottom: 10rem;
  }

  .menu-footer {
    margin-bottom: 0;
    row-gap: 4rem;
    margin-bottom: 0;
  }

  .emoji {
    display: block;
    position: absolute;
    width: 15rem;
  }

  #clients {
    justify-content: space-between;
  }

  #clients img:last-child {
    display: block;
  }

  .hero-right img:last-child,
  .hero-right img:first-child {
    display: block;
    width: 55%;
    max-width: 37rem;
    position: absolute;
  }

  .hero-right {
    position: relative;
  }

  .buttons-hero {
    flex-direction: row;
    gap: 4rem;
    align-items: baseline;
  }

  .main-img {
    max-width: 100%;
    margin-top: 0;
  }

  #hero > div {
    width: calc(50% - 4rem);
  }

  #hero {
    text-align: left;
  }

  #hero > div:first-child {
    margin-right: 8rem;
  }

  .card-project img {
    height: 24rem;
  }

  .card .card-content {
    height: 35rem;
  }

  .card {
    width: calc(33.3% - 3.8rem);
  }

  .margin-large-top {
    margin-top: 20rem;
  }

  .margin-medium-top {
    margin-top: 8rem;
  }

  #newsletter input#email {
    min-width: max-content;
    background-position: 11% 40%;
    margin-right: 2rem;
  }

  input[type="submit"] {
    margin-top: 0;
  }

  .container-default {
    padding: 0 1rem;
  }
}

@media (max-width: 979px) {
  input[type="submit"] {
    min-width: 100%;
  }
}

@media (min-width: 1200px) {
  .hero-right img:last-child {
    right: -25%;
  }
}
